/* no-scroll controller*/
body {
    overflow: hidden;
}

.img-btn{
    all: unset;
    display: block;
    width: 100%;
    max-width: 140px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: transparent;

}


#button-a { background-image: url("assets/PAUSE-OFF.png");}
#button-b { background-image: url("assets/SHOP.png");}

#button-x { background-image: url("assets/GO-OFF.png");}
#button-x:active { background-image: url("assets/GO-ON.png"); }

#button-y { background-image: url("assets/SLOW-OFF.png");}
#button-y:active { background-image: url("assets/SLOW-ON.png"); }

